.big-box{
    width: 600px;
    height: 600px;

    

}
.box{
    width: 30px;
    height: 30px;
    float: left;
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
}
.box:hover{
    background-color: red;
}
.box-clicked {
    width: 30px;
    height: 30px;
    float: left;
    background-color: red;
    cursor: pointer;
    text-align: center; 
}

.box-path{
    width: 30px;
    height: 30px;
    float: left;
    background-color: blue;
    cursor: pointer;
    text-align: center; 
    transition: 0.3s ease-in-out;
}
